{{- $gitName := promptStringOnce . "gitName" "Git Name" -}}
{{- $gitEmail := promptStringOnce . "gitEmail" "Git Email address" -}}


[data]
  gitName = {{ $gitName | quote }}
  gitEmail = {{ $gitEmail | quote }}
